body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: #e0e8ff;
    color: #b3b4c6;
}

.beginning{
    position: absolute;
    top: 0%;
    z-index: -1;
    left:0px;
    right: 0px;
    width: 100%;
} 

.container{
    transform: scale(1.5);
    margin: 25% auto 0% auto;
    background-color: white;
    height: 90%;
    width:27%;
    border-radius: 10px 10px 0px 0px;
}
.image-container img{
  width: 100%; 
  height: auto; 
  max-width: 100%; 
  border-radius: 10px 10px 0px 0px;
}
.main-container{
    padding:3%;
   text-align: center;
}
.main h3{
    font-weight: 900;
    color:hsl(223, 47%, 23%);
}
.plan {
    background-color: #f8f9fe;
    border-radius: 7px;
    padding: 3%;
    padding-bottom: 0%;
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr;
    
} 

.plan img{
    height: 100% !important;
}
.plan-middle>*{
    margin: 0px;
}
.plan-middle h4{
    margin-bottom: 5%;
}
button{
    margin-top: 6%;
    padding: 4% 10%;
    border-radius: 7px;
    border: none;
    background-color: hsl(223, 47%, 23%);
    font-weight: 900;
    color: white;
    width:90%;
    box-shadow: 1px 12px 20px 1px rgba(70, 185, 251, 0.1);
}
.cancel{
    font-weight: 700;
    margin-top: 5%;
}

@media (max-width:1024px) {
    .container{
        margin-top: 30%;
    }
    .plan{
        padding-bottom: 0%;
    }
    .plan-middle>*{
        margin-top: 2%;
        font-size: 0.85em;
    }
    .plan img{
        height:85% !important; 
    }
    button{
        width:80%;
        font-size: 0.6em;
        padding: 3% 8%;
    }
    a{
        font-size: 0.8em;
    }
}
@media (max-width:769px) {
    .container{
        margin-top: 35%;
    }
    a{
        font-size: 0.7em;
    }
    button{
        font-size: 0.45em;
    }
    .plan img{
        height:70% !important; 
    }
}
@media (max-width:481px) {
    .container{
        margin-top: 70%;
    }
    
}